{% extends "base.html" %}

{% block content %}
<br>
<h1>Checks History</h1><br>
<table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Start Time</th>
            <th scope="col">Status</th>
            <th scope="col">OS</th>
            <th scope="col">File</th>
            <th scope="col">App ID</th>
            <th scope="col">Version</th>
            <th scope="col">Code</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
<tbody>
{%  for audit in audits.items %}
    <tr class='clickable-row' data-href="{{ url_for('checks.check_results', id=audit.id) }}">
        <td> {{ audit.id }} </td>
        <td> {{ momentjs(audit.startTime).format('YYYY/MM/DD HH:mm') }} </td>
        <td> {{ audit.status }} </td>
        <td> {{ audit.os }} </td>
        <td> {{ audit.filename }} </td>
        <td> {{ audit.packageId }} </td>
        <td> {{ audit.packageVersion }} </td>
        <td> {{ audit.packageCodeVersion }} </td>
        <td> {{ audit.time }} </td>
    </tr>
{% endfor %}
</tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
    <li class="page-item {% if not audits.has_prev %} disabled {% endif %}">
        <a class="page-link" href="?page={{ audits.prev_num }}">Left</a>
    </li>
    <li class="page-item {% if not audits.has_next %} disabled {% endif %}">
        <a class="page-link" href="?page={{ audits.next_num }}">Right</a>
    </li>
    </ul>
</nav>

<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}